@using System.Collections.Generic
@using System.Threading.Tasks
@using System.Security.Claims
@model System.Collections.Generic.IEnumerable<CSC578Final.ViewModels.PostViewModel>


@{
    ViewData["Title"] = "Home";
    var userId = User.GetUserId();
}

<h1>Welcome to SweetBlog!</h1>

<a asp-controller="Blog" asp-action="Create" class="btn btn-default">Create</a>
<div id="blog-posts">
    @foreach (var post in Model)
    {
        <div class="blog-post">
            <h3>@post.Title</h3>
            <h4 class="text-muted">By @post.AuthorName</h4>
            @if (userId == post.AuthorId)
            {
                <form asp-controller="Blog" asp-action="Delete" asp-route-id="@post.Id" method="post" id="deletePost">
                    <ul class="list-inline">
                        <li>
                            <a asp-controller="Blog" asp-action="Update" asp-route-id="@post.Id" class="btn btn-default">Edit</a>
                        </li>
                        <li>
                            <button type="submit" class="btn btn-default">Delete</button>
                        </li>
                    </ul>
                </form>
            }
            <p>@post.Body</p>
        </div>
    }
</div>